* {
    margin: 0;
    box-sizing: border-box;
}

.top_header {
    height: 5vh;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
}

.top_header>p,
.quality_description>p,
.left_information>p,
.text_composition p,
#violet_item p,
.concept_store p,
.five_treasures p,
.text_of_recipes p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.logo {
    cursor: pointer;
}

.main {
    height: 105vh;
    background-image: url(./images/Rectangle\ \(2\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_burger,
.items_header {
    display: none;
}

.main_header {
    height: 7vh;
    display: flex;
    padding-top: 10px;
}

.rigth_header>button,
.left_header>button,
.main_header>select,
.items_header button,
.items_header select {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.left_header,
.rigth_header {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.left_header {
    margin-left: 40px;
}

.main_header>select {
    width: 5%;
    justify-content: space-around;
}

.main_text>h1,
.quality_description>h1,
.left_information>h1,
.composition h1,
.concept_store h1,
.wild_halva h1,
.five_treasures h1,
.text_of_recipes h1,
.stay_wild h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #000000;

}

.main_text {
    position: relative;
    top: 70px;
}

.main_confirm {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 78px;
    width: 370px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 70%;
    top: 300px;
}

.main_confirm>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding-left: 15px;
}

.main_confirm>button {
    background: #F5AFB9;
    border-radius: 17.5px;
    width: 62px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

/* section PRODUCTS starts */

.products {
    height: fit-content;
    background: #ED7B49;
}

.description {
    padding-top: 50px;
    display: flex;
    height: fit-content;
}

.logo_description {
    width: 35%;
    margin-left: 240px;
}

.quality_description {
    width: 40%;
    margin-right: 320px;
    margin-top: 70px;
}

.quality_description h1 {
    font-weight: 700;
    text-align: left;
}

.quality_description p {
    color: #000000;
    margin-top: 12px;
}

.types_of_products {
    display: flex;
}

.product_item {
    border-radius: 275px;
    width: 300px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30%;
    margin-right: 50px;
}

#item1 {
    background-image: url(./images/Frame\ \(6\).svg);
}

#item2 {
    background-image: url(./images/Frame\ \(7\).svg);
}

#item3 {
    background-image: url(./images/Frame\ \(8\).svg);
}

#item4 {
    background-image: url(./images/Frame\ \(9\).svg);
}

.product_item>button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

#item1 button {
    background: #72A080;
}

#item2 button {
    background: #A95D50;
}

#item3 button {
    background: #ABAFD6;
}

#item4 button {
    background: #FECF6B;
}

.product_item h1,
.wild_halva_child>div h2,
.spreadLove h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.product_item p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

#slider {
    width: 900px;
    height: 460px;
    overflow: hidden;
    margin: 50px auto;
}

.types_of_products,
.right_information {
    width: 1200px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.types_of_products .product_item,
.right_information img {
    float: left;
}

.types_of_products::after,
.right_information::after {
    content: "";
    display: block;
    clear: both;
}

.left_information>button {
    border: none;
    background: #000000;
    border-radius: 32px;
    width: 260px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 47px;
    cursor: pointer;
}

.right_information img {
    width: 400px;
    height: 460px;
}

#slider_information {
    width: 380px;
    height: 460px;
    overflow: hidden;
    margin: auto;
}

.information_of_wildWay,
.composition_of_product {
    display: flex;
    margin-top: 200px;
}

.left_information {
    width: 25%;
    margin-left: 160px;
    margin-top: 60px;
}

.left_information h1 {
    text-align: left;
    margin-bottom: 19px;
}



.composition {
    background: #BE5A4B;
    border-radius: 0px 220px 0px 0px;
    padding-left: 150px;
    width: 55%;
    padding-bottom: 60px;
}

.likeNut {
    width: 44%;
    margin-left: 100px;
    margin-top: 70px;
}

.composition h1 {
    text-align: left;
    margin-top: 74px;
    margin-bottom: 39px;
}

.text_composition h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 14px;
}

.text_composition h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

.text_composition p {
    margin-bottom: 20px;
}

.text_composition button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background: #000000;
    border-radius: 40px;
    width: 187px;
    height: 30px;
    margin-top: 46px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-evenly;
}

.joinImages {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
}

.joinImages .hand {
    position: relative;
    left: 230px;
    top: 60px;
}

.nuts {
    display: flex;
    flex-direction: column;

}

.nuts button {
    border: none;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    margin-bottom: 40px;
}

.likeNut p,
.wild_halva_child>div h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
}

.likeNut p {
    margin-bottom: 80px;
}

/* SECTION VIOLET STARTS */


.violet {
    background: #E9A8C6;
    height: fit-content;
    padding-bottom: 100px;
    padding-top: 120px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

#violet_item {
    width: 23%;
    align-items: center;
}

#violet_item p {
    text-align: center;
}

#violet_item h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 15px;
}

.violet h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

/* SECTION PINK STARTS */


.pink {
    height: fit-content;
    background: #F5AFB9;
    padding-bottom: 200px;
}

.concept,
.treasures {
    display: flex;
    display: flex;
    padding-top: 72px;
    padding-bottom: 200px;
}

.concept_store,
.five_treasures {
    width: 40%;
    padding-left: 150px;
}

.design,
.design2 {
    width: 59%;
    padding-top: 120px;
}

.concept_store>div,
.five_treasures>div {
    text-align: right;
}

.concept_store p,
.five_treasures p {
    padding-top: 13px;
    padding-bottom: 47px;
}

.concept_store h1,
.five_treasures h1 {
    text-align: left;
}

.concept_store button,
.five_treasures button {
    border: none;
    background: #000000;
    border-radius: 32px;
    width: 260px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.halva {
    display: flex;
}

.wild_halva {
    background: #ABAFD6;
    border-radius: 0px 220px 0px 0px;
    width: 665px;
    height: 681px;
}

.spreadLove {
    width: 445px;
    height: 681px;
    background: #EC4844;
    margin-left: 15px;
    padding-top: 65px;
    text-align: center;
}

.wild_halva_child>div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 21px;
}

.wild_halva h1 {
    padding-top: 90px;
    padding-bottom: 53px;
}

.wild_halva_child>div h2 {
    padding-bottom: 62px;
}

.wild_halva_child>div button,
.spreadLove button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.wild_halva_child>div button {
    width: 290px;
    height: 30px;
    margin-top: 45px;
}

.spreadLove button {
    width: 297px;
    height: 64px;
    margin-top: 30px;
}

.wild_halva_child {
    display: flex;
    justify-content: space-evenly;
    padding-left: 60px;
}

.photo_of_recipes {
    display: flex;
}

.item_of_recipes {
    margin-left: 40px;
}

#hummus {
    margin-top: 30px;
}

.item_of_recipes img {
    width: 400px;
}

.item_of_recipes p {
    padding-top: 43px;
    padding-bottom: 12px;
}

.text_of_recipes {
    margin-top: -200px;
}

.text_of_recipes {
    position: relative;
    margin-left: 50%;
    margin-bottom: 150px;
}

.text_of_recipes p {
    margin-top: 28px;
}

.text_of_recipes h1 {
    text-align: left;
}

/* FOOTER STARTS */

footer {
    background: #BE5A4B;
    padding-top: 135px;
}

.logo_footer {
    text-align: center;
    margin-bottom: 116px;
}

.stay_wild input {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    margin-top: 45px;
    margin-bottom: 120px;
}

.stay_wild h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 24px;
}

.icons {
    margin-bottom: 74px;
}

.payByCards {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.info_for_buyer {
    display: flex;
    justify-content: space-evenly;
}

.logotypes {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-bottom: 50px;
}

.productsInfo h2,
.productsInfo p,
.company h2,
.company p,
.help h2,
.help p,
.contacts h2 {
    padding-bottom: 20px;
}

.help,
.contacts {
    margin-top: 40px;
}



#information {
    border: 3px solid pink;
    background-color: #E9A8C6;
    width: fit-content;
    height: fit-content;
}

.hide {
    display: none;
}

form {
    border: 2px solid grey;
    height: fit-content;
    width: 305px;
}

form input {
    margin-bottom: 10px;
    width: 300px;
}

.aboutProducts,
.whoWeAreInfo {
    border: 2px solid violet;
    background-color: #F5AFB9;
    width: fit-content;
    height: fit-content;
}

@media (max-width:576px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .rigth_header,
    .left_header,
    select {
        display: none;
    }

    .menu_burger {
        display: block;
        position: relative;
        left: 50%;
        top: 15px;
    }

    .logo {
        margin-left: 15px;
    }

    .hide {
        display: none;
    }

    .visible {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        left: 35%;
    }

    .items_header button,
    .items_header select {
        font-size: 14px;
        line-height: 18px;
    }

    .top_header>p,
    .quality_description>p,
    .left_information>p,
    .text_composition p,
    #violet_item p,
    .concept_store p,
    .five_treasures p,
    .text_of_recipes p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .main_text>h1,
    .quality_description>h1,
    .left_information>h1,
    .composition h1,
    .concept_store h1,
    .wild_halva h1,
    .five_treasures h1,
    .text_of_recipes h1,
    .stay_wild h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #000000;

    }

    .main_confirm {
        position: relative;
        left: 6%;
        top: 560px;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .logo_description {
        width: 35%;
        margin-left: 50px;
    }

    .quality_description {
        width: 95%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 70px;
    }


    .product_item {
        border-radius: 250px;
        width: 200px;
        height: 280px;
        padding-top: 30%;
        margin-right: 50px;
    }


    #slider {
        width: 200px;
        height: 480px;
    }


    .information_of_wildWay,
    .composition_of_product {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .left_information {
        width: 100%;
        margin-left: 20px;
        margin-top: 60px;
    }

    .pink {
        height: fit-content;
        background: #F5AFB9;
        padding-bottom: 100px;
    }

    .concept,
    .treasures {
        display: flex;
        flex-direction: column;
        padding-top: 72px;
        padding-bottom: 60px;
    }

    .concept_store,
    .five_treasures {
        width: 100%;
        padding-left: 20px;
    }

    .design,
    .design2 {
        width: 100%;
        padding-top: 80px;
    }

    .concept_store>div,
    .five_treasures>div {
        text-align: center;
    }

    .concept_store p,
    .five_treasures p {
        padding-top: 13px;
        padding-bottom: 47px;
    }

    .concept_store h1,
    .five_treasures h1 {
        text-align: left;
    }

    .concept_store button,
    .five_treasures button {
        border: none;
        background: #000000;
        border-radius: 32px;
        width: 260px;
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
    }

    .halva {
        display: flex;
        flex-direction: column;
    }

    .wild_halva {
        background: #ABAFD6;
        border-radius: 0px 220px 0px 0px;
        width: 385px;
        height: 471px;
    }

    .spreadLove {
        width: 385px;
        height: 590px;
        background: #EC4844;
        margin-left: 0px;
        padding-top: 65px;
        text-align: center;
    }

    .wild_halva_child>div p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        padding-bottom: 21px;
    }

    .wild_halva h1 {
        padding-top: 90px;
        padding-bottom: 53px;
    }

    .wild_halva_child>div h2 {
        padding-bottom: 62px;
    }

    .wild_halva_child>div button,
    .spreadLove button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000000;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }

    .wild_halva_child>div button {
        width: 290px;
        height: 30px;
        margin-top: 45px;
    }

    .spreadLove button {
        width: 297px;
        height: 64px;
        margin-top: 30px;
    }

    .wild_halva_child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 60px;
    }

    .design2 img,
    .design img,
    .item_of_recipes img {
        width: 350px;
    }

    .photo_of_recipes {
        display: flex;
        flex-direction: column;
    }

    .item_of_recipes {
        margin-left: 20px;
    }

    #hummus {
        margin-top: 30px;
    }

    .item_of_recipes p {
        padding-top: 43px;
        padding-bottom: 12px;
    }

    .text_of_recipes {
        position: relative;
        margin-top: 0px;
        margin-left: 50%;
        margin-bottom: 60px;
    }
    .text_of_recipes {
        position: relative;
        margin: 100px 20px;
    }

    .text_of_recipes p {
        margin-top: 28px;
    }

    .text_of_recipes h1 {
        text-align: left;
    }

    .composition {
        background: #BE5A4B;
        border-radius: 0px 220px 0px 0px;
        padding-left: 20px;
        width: 100%;
        padding-bottom: 60px;
    }

    .likeNut {
        width: 100%;
        margin-left: 15px;
        margin-top: 50px;
    }

    .likeNut p {
        font-weight: 600;
        font-size: 1.8em;
    }

    .composition h1 {
        text-align: left;
        margin-top: 54px;
        margin-bottom: 39px;
    }

    .total {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .joinImages {
        display: flex;
        flex-direction: column;
        margin-top: -150px;
    }

    .joinImages .hand {
        position: relative;
        left: 130px;
        top: 120px;
    }

    .hand img {
        width: 40px;
    }

    .joinImages .nutella img {
        width: 200px;
    }

    .nuts {
        display: flex;
        flex-direction: column;

    }


    /* FOOTER STARTS */

    footer {
        background: #BE5A4B;
        padding-top: 135px;
    }

    .logo_footer {
        text-align: center;
        margin-bottom: 116px;
    }

    .stay_wild input {
        border: none;
        background: none;
        border-bottom: 1px solid black;
        margin-top: 45px;
        margin-bottom: 80px;
    }

    .stay_wild h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
        padding-bottom: 24px;
    }

    .icons {
        margin-bottom: 74px;
    }

    .payByCards {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .info_for_buyer {
        display: flex;
        justify-content: space-evenly;
    }

    .logotypes {
        display: flex;
        justify-content: space-between;
    }

    .logotypes img {
        width: 50px;
    }

    .productsInfo h2,
    .productsInfo p,
    .company h2,
    .company p,
    .help h2,
    .help p,
    .contacts h2 {
        padding-bottom: 20px;
    }

    .help,
    .contacts {
        margin-top: 40px;
    }



    #information {
        border: 3px solid pink;
        background-color: #E9A8C6;
        width: fit-content;
        height: fit-content;
    }

    .hide {
        display: none;
    }

    form {
        border: 2px solid grey;
        height: fit-content;
        width: 305px;
    }

    form input {
        margin-bottom: 10px;
        width: 300px;
    }

    .aboutProducts,
    .whoWeAreInfo {
        border: 2px solid violet;
        background-color: #F5AFB9;
        width: fit-content;
        height: fit-content;
    }
}